---
layout: default
category: team
---
<h1>TEAM</h1>

{% for post in site.posts %}
  {% if post.categories contains page.category %}
    <div class="ui card">
      <div class="image">
        <img src="{{post.picture}}">
      </div>
      <div class="content">
        <a class="header">{{post.name}}</a>
        <div class="meta">
          <span class="date">{{post.title}}</span>
        </div>
        <div class="description">
          {{post.description}}
        </div>
      </div>
    </div>
  {% endif %}
{% endfor %}