{% assign t = site.data.translations[page.lang][page.title] %}

<div class="ui grid">
    <div class="computer tablet only row">
        <div id="topNav" class="ui fixed menu navbar page grid">
            <a href="" class="brand item ui small image">
                <img src="../assets/img/logo.png">
                <span class="brandTitle"> Historias </span>
            </a>
            <div class="right menu">
                <a href="" class="active item">Home</a>
                <a href="" class="item">Products</a>
                <a href="" class="item">Our Farmers</a>
                <a href="" class="item">About Us</a>
            </div>
        </div>
    </div>
    <div class="mobile only row">
        <div class="ui fixed navbar menu">
            <a href="" class="brand item ui small image">
                <img src="../assets/img/logo.png">
                <span class="brandTitle"> Historias </span>
            </a>
            <div class="right menu open">
                <a href="" class="menu item">
                    <i class="content icon"></i>
                </a>
            </div>
        </div>
        <div id="mobileTopNav" class="ui vertical navbar menu">
            <div class="menu">
                <a href="" class="active item">Home</a>
                <a href="" class="item">Products</a>
                <a href="" class="item">Our Farmers</a>
                <a href="" class="item">About Us</a>
            </div>
        </div>
    </div>
</div>
<div id="introduction">
  <h1> {{t.title}}</h1>
</div>
