<div class="ui grid">
    <div class="computer tablet only row">
        <div class="ui inverted fixed menu navbar page grid">
            <a href="" class="brand item">Historias</a>
            <div class="right menu">
                <a href="" class="active item">Home</a>
                <a href="" class="item">Products</a>
                <a href="" class="item">Our Farmers</a>
                <a href="" class="item">About Us</a>
            </div>
        </div>
    </div>
    <div class="mobile only row">
        <div class="ui fixed inverted navbar menu">
            <a href="" class="brand item">Historias</a>
            <div class="right menu open">
                <a href="" class="menu item">
                    <i class="content icon"></i>
                </a>
            </div>
        </div>
        <div class="ui vertical navbar menu">
            <div class="menu">
                <a href="" class="active item">Home</a>
                <a href="" class="item">Products</a>
                <a href="" class="item">Our Farmers</a>
                <a href="" class="item">About Us</a>
            </div>
        </div>
    </div>
</div>
