{% assign nav = site.data.navigation[page.lang].nav %}

<div class="ui grid">
    <div class="computer tablet only row">
        <div id="topNav" class="ui fixed menu navbar page grid">
            <a href="{{nav.home.url}}" class="brand item ui small image">
                <img src="/assets/img/logo.png">
                <span class="brandTitle"> Historias </span>
            </a>

            <div class="ui simple dropdown item">
            {% if page.lang == "es" %}
              <i class="es flag"></i>
              <div class="menu">
                <a href="/en{{page.url}}" class="item">
                  <i class="us flag"></i>
                </a>
              </div>
            {% else %}
              <i class="us flag"></i>
              <div class="menu">
                <a href="{{page.url | remove: '/en'}}" class="item">
                  <i class="es flag"></i>
                </a>
              </div>
            {% endif %}
            </div>

            <div class="right menu">
            {% for menu in nav %}
              {% assign label = menu[1].label %}
              {% assign url = menu[1].url %}
              {% if page.title == menu[0] %}
              <a class="active item" href="{{url}}">{{label}}</a>
              {% else %}
              <a class="item" href="{{url}}">{{label}}</a>
              {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>
    <div class="mobile only row">
        <div class="ui fixed navbar menu">
            <a href="{{nav.home.url}}" class="brand item ui small image">
                <img src="/assets/img/logo.png">
                <span class="brandTitle"> Historias </span>
            </a>
            <div class="right menu open">
                <a href="" class="menu item">
                    <i class="content icon"></i>
                </a>
            </div>
        </div>
        <div id="mobileTopNav" class="ui vertical navbar menu">
            <div class="menu">
                {% for menu in nav %}
                  {% assign label = menu[1].label %}
                  {% assign url = menu[1].url %}
                  {% if page.title == menu[0] %}
                  <a class="active item" href="{{url}}">{{label}}</a>
                  {% else %}
                  <a class="item" href="{{url}}">{{label}}</a>
                  {% endif %}
                {% endfor %}

                {% if page.lang == "es" %}
                  <a href="/en{{page.url}}" class="item">
                    <i class="us flag"></i>
                  </a>
                {% else %}
                  <a href="{{page.url | remove: '/en'}}" class="item">
                    <i class="es flag"></i>
                  </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div id="introduction">
  <h1>{{site.data[page.title][page.lang].page_title}}</h1>
</div>
