@font-face {
    font-family: 'BebasNeueBold';
    src: local('BebasNeueBold'),
        url('../fonts/BebasNeueBold.ttf') format('truetype');
}

header {

    div.ui > div.menu > a.active.item {
        font-weight: bold;
    }
    
    .topNav {
        height: 75px;
        text-align: center;

        .brandTitle {
            margin-left: 7px;
            font-size: 23px;
            font-family: 'BebasNeueBold', bold;
        }
    }

    #mobileTopNav {
        margin-top: 55px;
        width: 100%;
        text-align: center;

        .menu > .item {
            height: 30px;
        }
    }

    .brandTitle {
        margin-left: 10px;
        font-size: 25px;
        margin-top: 5px;
        font-family: 'BebasNeueBold', bold;
    }

    #introduction {
        clear: both;
        background: url("../img/main_bg.jpg") no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 300px;
        display: flex;
        justify-content: center;

        @media screen and (max-width: 600px) {
            //margin-top: 50px;
        }

        h1 {
            color: white;
            display: inline-block;
            align-self: center;
            font-size: 48px;
        }
    }
}

header#farmer {
    #topNav {
        height: 75px;
        text-align: center;
    }

    #farmerIntroduction {
        color: black;
        background: none;

        .farmerImagesSlide {
            overflow: hidden;
            img {
                height: 200px;
                margin: 0 auto;
            }
        }
    }
}