header {
    height: 400px;
    background-image: url("../img/tempHeaderImg.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    #topNav {
        height: 75px;
    }

    #mobileTopNav {
    	margin-top: 50px;
    	width: 100%;
    	text-align: center;

    	.menu>.item {
    		height: 30px;
    	}
    }

    #introduction {
        clear: both;
        margin-top: 75px;
        height: 300px;
        display: table-cell;
        vertical-align: center;
        display: flex;
        justify-content: center;

        @media screen and (max-width: 600px) {
        	margin-top: 50px;
        }

        h1 {
        	color: white;
        	display: inline-block;
            align-self: center;
        }
    }
}