// Use Compass
@import "compass";

// Reset using Normalize
@import "normalize";

@import "susy";

$susy: (
  columns: 12,
  gutters: 1/4,
  math: fluid,
  output: float,
  gutter-position: split,
  global-box-sizing:border-box
);


@include global-box-sizing(border-box);
@import './header';
@import "team";
@import "timeline";
@import "footer";

$colorMap: (1: purple, 2: blue, 3: green, 4: yellow);

.container div {
  border-radius: 10px;
}

// Loop through each color name, create class name and styles
@each $colorKey, $value in $colorMap {
  .color-#{$colorKey} {
    background-color: rgba($value, 0.7);
    &:after {
      content: “variable name is #{$value}”
    }
  }
}

#main--intro_section {
  padding: 50px;
}

#main--core_values {
  padding: 50px;
}

#main--ideas_list {
  padding: 50px;
  padding-left: 100px;
  padding-right: 100px;
}

@media (max-width: 768px) {
  #main--ideas_list {
    padding: 50px;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 950px) {
  #main--ideas_list {
    padding: 50px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

#timeline-wrapper {
  background-color: whitesmoke;
}

.ui.cards>.card.farmer-profile {
  transition: opacity 0.35s;
  -webkit-transition: opacity 0.35s;
}

.farmer-profile {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0.8;
  cursor: pointer;

  &:hover {
    opacity: 1.0;

    .ui.inverted.button {
      background: #fff;
      box-shadow: 0 0 0 2px #fff inset !important;
      color: rgba(0, 0, 0, .8)
    }
  }
}

.farmer-location-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 300px;
}
