---
layout: default
category: farmer
title: farmers
lang: es
---
{% assign t = site.data.farmers[page.lang] %}

<h2 class="ui center aligned icon header">
  <i class="circular leaf icon"></i>
  {{t.farmers_header}}
</h2>

<section>
<!--<div id="album_items">
<div class="ui cards">
{% for post in site.posts %}
  {% if post.layout == "post_farmer" and post.lang == "es" %}
    <div class="card">
      <div class="image">
        <img src="/assets/img/{{post.picture}}">
      </div>
      <div class="content">
        <a class="header" href="{{post.url}}">{{post.title}}</a>
        <div class="meta">
          <span class="date">{{post.product}}</span>
        </div>
      </div>
    </div>
  {% endif %}
{% endfor %}
</div>-->
<div class="ui three stackable cards">
  {% for post in site.posts %}
    {% if post.layout == "post_farmer" and post.lang == "es" %}
      <div class="farmer-profile card">
        <a class="image" href="{{post.url}}">
          <img src="/assets/img/{{post.picture}}" />
        </a>
        <div class="img-text-overlay">
          <a href="{{post.url}}"><button class="farmer-location-overlay big ui inverted button">{{post.location}}</button></a>
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>
</section>