---
layout: default
category: team
title: about
lang: es
---
{% assign t = site.data.about_page[page.lang] %}

<h2 class="ui center aligned icon header">
  <i class="circular users icon"></i>
  {{t.about_header}}
</h2>

<section>
<div id="album_items">
  <div class="ui cards">
    {% for post in site.posts %}
      {% if post.layout == "post_team" %}
          <div class="card">
            <div class="image">
              <img src="/assets/img/{{post.picture}}">
            </div>
            <div class="content">
              <a class="header" href="{{post.url}}">{{post.title}}</a>
              <div class="meta">
                <span class="date">{{post.name}}</span>
              </div>
              <div class="description">
                {{post.description}}
              </div>
            </div>
          </div>
      {% endif %}
    {% endfor %}
    </div>
  </div>
</section>

<div class="ui divider"></div>

<h2 class="ui center aligned icon header">
  <i class="circular phone icon"></i>
  {{t.contact_header}}
</h2>

<section>
<form class="ui form">
  <div class="field">
    <label>{{t.contact_form_name_label}}</label>
    <input type="text" name="first-name" placeholder="{{t.contact_form_name_placeholder}}">
  </div>
  <div class="field">
    <label>{{t.contact_form_email_label}}</label>
    <input type="text" name="last-name" placeholder="{{t.contact_form_email_placeholder}}">
  </div>
  <div class="field">
    <label>{{t.contact_form_message_label}}</label>
    <textarea></textarea>
  </div>
  <button class="ui button" type="submit">{{t.contact_form_submit_button}}</button>
</form>
</section>