<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
  <div id="main--intro_section" class="ui vertical stripe segment">
    <div class="ui text container">
      <h1 class="ui header">
        <div class="content">
          {{page.title}} <div class="ui pink horizontal label">{{page.product}}</div>
          <div class="sub header">{{page.description}}</div>
        </div>
      </h1>
      {% for image in page.images %}
        <img src="/assets/img/{{image}}">
      {% endfor %}
      <p>{{page.content}}</p>
      <button onclick="back()" class="ui basic button">
        Back
      </button>
    </div>
  </div>
  <footer id="farmer">{% include footer.html %}</footer>
</body>
</html>